<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>
        Dashboard
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">

    <link rel="stylesheet" href="css/dashboard.css">
</head>

<body>

    <div class="page page-dashboard">
        <aside class="page_aside aside">
            <div class="aside_logo divider-aside">
                Sidebar
            </div>
            <nav class="aside_nav">
                <a class="nav-button nav-button--active click" href="#">
                    <span class="nav-button_icon icon" style="background-image: url(/img/dashboard/home.svg)"></span>
                    <span class=" nav-button_text">Home</span>
                </a>
                <a class="nav-button nav-button--active click" href="#">
                    <span class="nav-button_icon icon" style="background-image: url(/img/dashboard/orders.svg)"></span>
                    <span class="nav-button_text">Orders</span>
                </a>
                <a class="nav-button nav-button--active click" href="#">
                    <span class="nav-button_icon icon"
                        style="background-image: url(/img/dashboard/products.svg)"></span>
                    <span class="nav-button_text">Products</span>
                </a>
            </nav>
        </aside>
        <header class="header">
            <div class="container">
                <div class="header_content">
                    <div class="header_input">
                        <input class="field header_search field--search" type="text" placeholder="Search">
                        <span class="header_icon-search icon"
                            style="background-image: url(/img/dashboard/search.svg)"></span>
                        <span class="header_icon-settings icon icon--button click"
                            style="background-image: url(/img/dashboard/settings.svg)"></span>
                    </div>
                    <div class="header_icon-list">
                        <ul class="icon-list">
                            <li class="icon-list_item click">
                                <a class="icon-list_link icon icon-signal--active" href="#"
                                    style="background-image: url(/img/dashboard/signal.svg)"></a>
                            </li>
                            <li class="icon-list_item click">
                                <a class="icon-list_link icon icon-translate--active" href="#"
                                    style="background-image: url(/img/dashboard/translate.svg)"></a>
                            </li>
                            <li class="icon-list_item click">
                                <a class="icon-list_link icon icon-bell--active" href="#"
                                    style="background-image: url(/img/dashboard/bell.svg)"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="container">
                <section class="dashboard-cards">
                    <div class="cards-block">
                        <div class="earning earning--card card-hover">
                            <span class="earning_icon earning--icon icon"
                                style="background-image: url(/img/dashboard/money.svg)"></span>
                            <div class="earning_text">
                                <span class="earning_text-icon icon"
                                    style="background-image: url(/img/dashboard/arrow.svg)"></span>
                                <span class="earning_value">$500.00</span>
                                <span class="earning_label">Total earning</span>
                            </div>
                        </div>
                        <div class="order order--card card-hover">
                            <span class="order_icon order--icon icon"
                                style="background-image: url(/img/dashboard/order.svg)"></span>
                            <div class="order_text">
                                <span class="order_value">$961</span>
                                <span class="order_label">Total Order</span>
                            </div>
                        </div>
                        <div class="income income--card card-hover">
                            <span class="income_icon income--icon icon"
                                style="background-image: url(/img/dashboard/earning.svg)"></span>
                            <div class="income_text">
                                <span class="income_value">$203k</span>
                                <span class="income_label">Total Income</span>
                            </div>
                        </div>
                        <div class="profit profit--card card-hover">
                            <span class="profit_icon profit--icon icon"
                                style="background-image: url(/img/dashboard/shop.svg)"></span>
                            <div class="profit_text">
                                <span class="profit_value">$203k</span>
                                <span class="profit_label">Total Income</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="dashboard-content">
                    <div class="dashboard-content_inner">
                        <div class="purchase">
                            <div class="purchase_inner">
                                <strong class="purchase_title divider">Purchase list</strong>
                                <div class="purchase_info divider">
                                    <div class="purchase_info-inner">
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">ID437661</span>
                                            <span class="purchase_text">May 11, 2023, 14:21</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">AirOn ProCam</span>
                                            <span class="purchase_text">7/8 USB Type-C</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">132.32 EUR</span>
                                            <span class="purchase_text purchase_text--warning">Not
                                                paid</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">Customer</span>
                                            <span class="purchase_text">robin@com.de</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="purchase_info divider">
                                    <div class="purchase_info-inner">
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">ID437661</span>
                                            <span class="purchase_text">May 11, 2023, 14:21</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">PHILIPS Essential</span>
                                            <span class="purchase_text">HD9200/90</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">543 USD</span>
                                            <span class="purchase_text purchase_text--success">Pay
                                                by Stripe</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">Customer</span>
                                            <span class="purchase_text">dima@com.ua</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="purchase">
                            <div class="purchase_inner">
                                <strong class="purchase_title divider">Purchase list</strong>
                                <div class="purchase_info divider">
                                    <div class="purchase_info-inner">
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">ID437661</span>
                                            <span class="purchase_text">May 11, 2023, 14:21</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">AirOn ProCam</span>
                                            <span class="purchase_text">7/8 USB Type-C</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">132.32 EUR</span>
                                            <span class="purchase_text purchase_text--warning">Not
                                                paid</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">Customer</span>
                                            <span class="purchase_text">robin@com.de</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="purchase_info divider">
                                    <div class="purchase_info-inner">
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">ID437661</span>
                                            <span class="purchase_text">May 11, 2023, 14:21</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">PHILIPS Essential</span>
                                            <span class="purchase_text">HD9200/90</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">543 USD</span>
                                            <span class="purchase_text purchase_text--success">Pay
                                                by Stripe</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">Customer</span>
                                            <span class="purchase_text">dima@com.ua</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="purchase">
                            <div class="purchase_inner">
                                <strong class="purchase_title divider">Purchase list</strong>
                                <div class="purchase_info divider">
                                    <div class="purchase_info-inner">
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">ID437661</span>
                                            <span class="purchase_text">May 11, 2023, 14:21</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">AirOn ProCam</span>
                                            <span class="purchase_text">7/8 USB Type-C</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">132.32 EUR</span>
                                            <span class="purchase_text purchase_text--warning">Not
                                                paid</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">Customer</span>
                                            <span class="purchase_text">robin@com.de</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="purchase_info divider">
                                    <div class="purchase_info-inner">
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">ID437661</span>
                                            <span class="purchase_text">May 11, 2023, 14:21</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">PHILIPS Essential</span>
                                            <span class="purchase_text">HD9200/90</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">543 USD</span>
                                            <span class="purchase_text purchase_text--success">Pay
                                                by Stripe</span>
                                        </div>
                                        <div class="purchase_info-desc">
                                            <span class="purchase_text">Customer</span>
                                            <span class="purchase_text">dima@com.ua</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="payment">
                        <div class="payment_inner">
                            <strong class="payment_title divider">Payment</strong>
                            <div class="payment_form-check">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Credit card
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Debit card
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        PayPal
                                    </label>
                                </div>
                            </div>
                            <div class="payment_forms-text divider">
                                <div class="form-text_wrap">
                                    <label class="payment_label">Name on card</label>
                                    <input class="payment_field field field--select" type="text"></input>
                                </div>
                                <div class="form-text_wrap">
                                    <label class="payment_label">Credit card number</label>
                                    <input class="payment_field field field--select" type="text"></input>
                                </div>
                                <div class="form-text_wrap">
                                    <label class="payment_label">Expiration</label>
                                    <input class="payment_field field field--select" type="text"></input>
                                </div>
                                <div class="form-text_wrap">
                                    <label class="payment_label">CVV</label>
                                    <input class="payment_field field field--select" type="text"></input>
                                </div>
                            </div>
                            <div class="payment_forms-select divider">
                                <div class="forms-select_wrap">
                                    <label class="payment_label" for="selectOption">Country</label>
                                    <select class="payment_field field field--select" id="selectOption">
                                        <option disabled selected hidden>Choose...</option>
                                        <option value="option1">USA</option>
                                        <option value="option2">Ukraine</option>
                                        <option value="option3">Canada</option>
                                        <option value="option3">Australia</option>
                                        <option value="option3">Germany</option>
                                    </select>
                                </div>
                                <div class="forms-select_wrap">
                                    <label class="payment_label" for="selectOption">State</label>
                                    <select class="payment_field field field--select" id="selectOption">
                                        <option disabled selected hidden>Choose...</option>
                                        <option value="option1">California</option>
                                        <option value="option2">Texas</option>
                                        <option value="option3">Nw-York</option>
                                        <option value="option3">Florida</option>
                                        <option value="option3">Illinois</option>
                                    </select>
                                </div>
                            </div>
                            <button class="payment_button click">Continue to checkout</button>
                        </div>
                </section>
            </div>
        </main>
    </div>

    <script src="https://kit.fontawesome.com/f7082d49ca.js" crossorigin="anonymous"></script>
</body>

</html>